<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [170, 170]
  Dashing.numColumns = 10
});
</script>

<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":2},{"col":1,"row":3,"size_x":2,"size_y":2},{"col":8,"row":1,"size_x":2,"size_y":2},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":4,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1},{"col":7,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":6,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":3,"row":4,"size_x":1,"size_y":1},{"col":6,"row":3,"size_x":2,"size_y":2},{"col":7,"row":2,"size_x":1,"size_y":1},{"col":5,"row":4,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>Off Base Productions<% end %>

<div class="gridster">
    <ul>
        <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
            <div data-view="Clock" style="background-color: #4b4b4b"></div>
            <i class="icon-time icon-background"></i>
        </li>
        <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="github_status" data-view="GithubStatus" data-title="GitHub"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="github_feed" data-view="GithubFeed" data-title="Github News Feed"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
            <div data-id="aww" data-view="RandomAww"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="Google1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="sss-google" data-view="ServerStatusSquares" data-title="Google"></div>
        </li>
    </ul>
</div>
